<div class="form">
  <h1>Welcome to ChatApp</h1>
  <p>Could you please log in under your user name?</p>
  <mat-form-field [formGroup]="formModel" novalidate>
    <input matInput placeholder="Enter your name and surname" name="name" formControlName="userName" required>
    <mat-error [class.hidden]="!formModel.hasError('userNameValidator', 'userName')">Invalid first or last name</mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="signUp()" [disabled]="formModel.invalid">Log In</button>
</div>
