<mat-card class="message">
  <mat-card-title class="messageTitle">{{ userName }}</mat-card-title>
  <mat-card-subtitle class="messageSubtitle">{{ timeStamp }}</mat-card-subtitle>
  <mat-card-content class="messageContent">{{ messageContent }}</mat-card-content>
  <mat-card-actions *ngIf="isEdit" class="messBtns">
    <a class="deleteBtn" (click)="deleted()">
      <mat-icon>delete</mat-icon>
    </a>
    <a class="editBtn" (click)="edited()">
      <mat-icon>create</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
